<p>custom-directive works!</p>

<div class="container">
<h1>Using custom directive</h1>
<br>
<div appChangeColor>This is custom directive</div>

<br>
<div>Angular without custom directive</div>


<br>
<h2>Using Emoji Directive</h2>
<div appEmoji>
Using Emoji Directive

</div>

<!-- <div appEmoji="'Srujana  👉'" [message] = "'hello'" [message2] ="'Srujana'"> -->
    <div appEmoji="Srujana  👉" message = "hello" message2 ="Srujana">

    Using Emoji Directive Input
    
    </div>

    <p appEmoji="Adrija   👩  ">
        Using Emoji Directive Input para
        
        </p>
</div>
